.dailyRow{
    display: grid;
    grid-template-columns: repeat(3,minmax(2rem,1fr)) ;
    text-align: center;
    max-width: var(--maxWidth);
    
}

.dailyTemp{
    background: var(--primaryColor);
    margin: 0.5rem;
    padding: 0.5rem;
    
    border: 2px solid var(--borderColors);
    border-radius: var(--border-radius);
}

.dailyTempDay{
    margin-top: 0.5rem;
    font-family:'DM Sans' ;
    font-weight: 500;
}
.dailyTempImage{
    width: 70%;
}

.dailyTempValues{
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
}



.dailyRow{
    grid-template-columns: repeat(3,minmax(2rem,1fr)) ;
}
