.hourlySection {
    background: var(--primaryColor); 
    margin-top: 2rem;
    padding: 1.5rem;
    border-radius: var(--border-radius);
    min-width: 14rem;

}

.hourlySectionHead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

.daySelectWrapper {
    position: relative;
    min-width: 2rem;
}

.daySelectBtn {
    background: var(--secondaryColors);
    border: none;
    padding: 0.7rem;
    border-radius: var(--border-radius);
    color:var(--whiteColor);
    cursor: pointer;
}

.daySelectList {
    display: none;
    position: absolute;
    top: 110%;
    left: -2rem;
    width: 7rem;
    background: var(--primaryColor);
    border-radius: var(--border-radius);
    padding: 0.5rem;
    list-style: none;
    z-index: 1;
}



.dayOption {
    padding: 0.7rem;
    cursor: pointer;        
    border-bottom: 2px solid var(--secondaryColors);

}

.dayOption:hover {
    background:var(--offPrimaryColor);
}



.hourList {
    display: flex;
    flex-direction: column;
    gap: 1rem; 
    overflow-x: auto;
    height: 32rem;
}



.hourBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    background: var(--secondaryColors);
    border: 0.09rem solid var(--offPrimaryColor); 
    border-radius: var(--border-radius);
}

.warperTimeIcon{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    
}

.hourImage {
    width: 2.5rem;
    height: 2.5rem;
    object-fit: contain;
}

.hourTimeLabel {
    font-size: 0.8rem;
    font-weight: 500;
    margin: 0;
    color: var(--whiteColor);
}

.hourlyTempDegree {
    font-weight: 500;
}