@import url('utility/fonts.css');
@import url('header.css');
@import url('search.css');
@import url('weatherCard.css');
@import url('dailySection.css');
@import url('hourlySection.css');
@import url('utility/responsive.css');


:root {
    --primaryColor: hsl(243, 27%, 20%);
    --whiteColor: hsl(0, 0%, 100%);
    --border-radius: 0.5rem;
    --offPrimaryColor:hsl(240, 6%, 70%);
    --secondaryColors: hsl(243, 23%, 30%) ; /*vpoder color*/
    --neutral200: hsl(250, 6%, 84%);
    
    --maxWidth:60rem;
}


body {
    color: var(--whiteColor);
    background: hsl(243, 96%, 9%);
    padding: 1rem;
    margin: 0;
}

.mainLayout {
    margin-top: 2rem;
    max-width: var(--maxWidth);
    margin-left: auto;
    margin-right: auto;
}




.title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem;
}

.title > h1{
    font-family:'Bricolage Grotesque';
    font-weight: 600;
    font-size: 3rem;
    text-align: center;
}






.sectionTitle{
    font-family: 'DM Sans';
    font-size: 1rem;
}






/*for drop down list*/
.show {
    display: block;
}
.active {
    background: var(--secondaryColors);
}




/* for loader */
.sectionLoader {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.loadingIcon {
    width: 2rem;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
